---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <p><em>{frontmatter.description}</em></p>
  <p>{frontmatter.pubDate.toString().slice(0, 10)}</p>

  <p>Written by: {frontmatter.author}</p>

  <div class="tags">
    {
      frontmatter.tags.map((tag: string) => (
        <p class="tag">
          <a href={`/website/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>

  <slot />
</BaseLayout>

<style>
  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Space between tags */
  }

  /* Optional: Remove the default paragraph margins so they align perfectly */
  .tag {
    margin: 0; 
  }
</style>